.gradient-text-home1 {
    background: -webkit-linear-gradient(white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home {
    .animation {
        height: 100px;
    }
    .btn {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .home {
        .btn {
            display: flex;
            margin-top: 15px;
        }
    }
}
